@media (max-width: 768px) {

    .container {
        max-width: 768px;
    }
}

@media (max-width: 480px) {

    /* LAYOUT */

    .container {
        max-width: 480px;
    }

    .row {
        flex-wrap: wrap;
    }

    /* LESSON SECTION */
   
    .lessons .col {
       width: 100%;
    }

    .row .col {
        padding-bottom: 60px;
    }

    /* STEPS SECTION */

    .steps {
        margin: 0;
    }

    .why-us {
        margin: 0;
    }

    .why-us h2 {
        padding-top: 30px;
    }

    .steps .col {
        width: 100%;
     }

     /* WHY US SECTION */

     .why-us .container {
        background-color: black;
     }

     .why-us .col {
        width: 100%;
     }
}